.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 76%;
  height: 76%;

  display: flex;
  align-items: center;
  margin: auto;
  background-color: var(--color-background-inner);
  border-radius: var(--size-border-radius-big);

  -webkit-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
}

.content {
  /* height: 100%; */
  flex: 1 1 70%;

  display: flex;
  flex-direction: column;
}

.title {
  /* height: 44%; */
  /* padding: 16% 0 0 20%; */
  flex: 50%;
}

.items {
  /* flex: 50%; */
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
}

.item {
  width: 28%;
  height: 380px;
  padding: 30px 20px;

  border-radius: var(--size-border-radius-btn);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);

  transition: all var(--animation-duration) ease-in-out;
}

.item:hover {
  transform: translateY(-20px);
}

.item:hover::after {
  content: '';
  display: block;
  width: 100%;
  transform: translateY(50px);
  border: 3px solid var(--color-button);
}

.itemImg_wrap {
  width: 100%;
  height: 60%;
}

.itemImg {
  width: 100%;
  height: 100%;
}

.itemTitle {
  margin-top: 34px;
  color: var(--color-dark-pink);
  font-weight: var(--weight-bold);
}

.image {
  width: 30%;
}
