.container {
  width: 100vw;
}

.main {
  max-width: 310px;
  margin: 30px auto;
  padding: 40px 15px;
  background-color: var(--color-button);
  border-radius: var(--size-border-radius-btn);
  text-align: center;
}

.content {
  padding: 20px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius-btn);
}

.coffeeImg {
  width: 54%;
}

.message {
  color: var(--color-dark-pink);
}

.github {
  margin: 4px 0;
  font-size: var(--font-large);
  color: var(--color-button);
  transition: all var(--animation-duration) ease-in-out;
}

.github:hover {
  transform: rotate(45deg);
  color: var(--color-dark-pink);
}

.email,
.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailIcon,
.mobileIcon {
  margin-right: 10px;
  color: var(--color-button-hover);
  font-size: var(--font-regular);
}

@media screen and (min-width: 768px) {
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;

    /* size */
    --size-border-radius-big: 24px;
    --size-border-radius-btn: 8px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-medium);
    margin: 14px 0px;
  }

  h2 {
    font-size: var(--font-regular);
    margin: 7px 0;
  }

  h3 {
    font-size: var(--font-regular);
    margin: 7px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .main {
    max-width: 500px;
    margin: 50px auto;
    padding: 50px 20px;
  }

  .content {
    display: flex;
    align-items: center;
    padding: 50px 20px;
  }

  .content_left {
    flex: 1 1 40%;
  }

  .content_right {
    flex: 1 1 60%;
  }

  .coffeeImg {
    width: 100%;
  }

  .emailIcon,
  .mobileIcon {
    margin-right: 10px;
    font-size: var(--font-regular);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* size */
    --size-border-radius-big: 30px;
    --size-border-radius-btn: 10px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-large);
    margin: 16px 0px;
  }

  h2 {
    font-size: var(--font-medium);
    margin: 8px 0;
  }

  h3 {
    font-size: var(--font-regular);
    margin: 8px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .main {
    max-width: 960px;
    margin: 70px auto;
    padding: 70px 30px;
  }

  .content {
    padding: 90px 30px;
  }

  .emailIcon,
  .mobileIcon {
    margin-right: 20px;
    font-size: var(--font-medium);
  }
}
