.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 310px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_left {
  text-align: center;
}

.content_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffeeImg {
  width: 50%;
}

.message {
  color: var(--color-button);
  font-family: 'Nanum Pen Script', cursive;
}

.email_wrap,
.mobile_wrap {
  width: 140px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.email,
.mobile {
  margin: 0;
}

.emailIcon,
.mobileIcon {
  margin-right: 10px;
  color: var(--color-button-hover);
  font-size: var(--font-regular);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 688px;
  }

  .coffeeImg {
    width: 60%;
  }

  .email_wrap,
  .mobile_wrap {
    width: 170px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 900px;
  }

  .coffeeImg {
    width: 70%;
  }

  .email_wrap,
  .mobile_wrap {
    width: 200px;
    margin-bottom: 7px;
  }
}
