.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 310px;
  margin: auto;
  padding-top: 111px;
}

.project_categories {
  margin: 16px 0;
  text-align: center;
}

.category_btn {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius-btn);
  font-size: var(--font-small);
  margin: 0 2px;
  padding: 8px 12px;
  position: relative;
}

.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
  opacity: 1;
}

.category_count {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;

  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);

  position: absolute;
  top: -8px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.projects.anim_out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 680px;
    padding-top: 97px;
  }

  .category_btn {
    font-size: var(--font-regular);
    padding: 10px 18px;
  }

  .category_count {
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -10px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 800px;
    padding-top: 117px;
  }

  .category_count {
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: -14px;
  }
}
