/* container 사용 필요성 확인 필요 */
/* .container {
  width: 100vw;
  padding-top: 95px;
} */

.main {
  padding-top: 95px;
  max-width: 310px;
  margin: auto;
  margin-bottom: 20px;
}

.project_categories {
  margin: 16px 0;
  text-align: center;
}

.category_btn {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius-btn);
  font-size: var(--font-small);
  margin: 0 2px;
  padding: 8px 12px;
  position: relative;
}

.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
  opacity: 1;
}

.category_count {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;

  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);

  position: absolute;
  top: -8px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.projects.anim_out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

@media screen and (min-width: 768px) {
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;

    /* size */
    --size-border-radius-big: 24px;
    --size-border-radius-btn: 8px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-large);
    margin: 14px 0px;
  }

  h2 {
    font-size: var(--font-medium);
    margin: 7px 0;
  }

  h3 {
    font-size: var(--font-medium);
    margin: 7px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .main {
    padding-top: 85px;
    max-width: 688px;
    margin-bottom: 30px;
  }

  .project_categories {
    margin: 24px 0;
  }

  .category_btn {
    font-size: var(--font-regular);
    margin: 0 2px;
    padding: 10px 18px;
    position: relative;
  }

  .category_count {
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -15px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* size */
    --size-border-radius-big: 30px;
    --size-border-radius-btn: 10px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-large);
    margin: 16px 0px;
  }

  h2 {
    font-size: var(--font-medium);
    margin: 8px 0;
  }

  h3 {
    font-size: var(--font-regular);
    margin: 8px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .main {
    padding-top: 110px;
    max-width: 1200px;
    margin-bottom: 40px;
  }

  .project_categories {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .category_btn {
    font-size: var(--font-medium);
    margin: 0 2px;
    padding: 12px 40px;
    position: relative;
  }

  .category_count {
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -26px;
  }
}
