/* .container {
  width: 100vw;
  padding-top: 95px;
} */

.main {
  padding-top: 110px;
  max-width: 310px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 140px;
    max-width: 688px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding-top: 200px;
    max-width: 1200px;
  }
}
