.test {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testInside {
  width: 60%;
  padding: 40px;
  text-align: left;
  background: url('http://localhost:3000/images/bg.jpeg') center/cover no-repeat;
}
