.container {
  width: 100vw;
  text-align: center;
  padding-top: 95px;
}

.main {
  max-width: 310px;
  margin: auto;
}

.content {
  padding: 20px 10px;
}

.portfolioImg_wrap {
  width: 65%;
  margin: 14px auto;
  padding: 10px;

  background-color: var(--color-background-inner);
  border-radius: var(--size-border-radius-big);
  -webkit-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
}

.portfolioImg {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: var(--size-border-radius-btn);
}

.portfolioMenu {
  margin: 0 auto;
  margin-top: 60px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius-btn);
  background-color: var(--color-white);
}

.menuBtn_container {
  width: 92%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  background-color: var(--color-background-outer);
  transform: translateY(-31px);
}

.menuBtn:hover {
  background-color: var(--color-white);
  border-radius: var(--size-border-radius-btn) var(--size-border-radius-btn) 0 0;
}

.menuBtn:hover::after {
  content: '';
  display: block;
  margin: auto;
  width: 14px;
  border-bottom: 5px solid var(--color-button);
  border-radius: 40%;
}

.menuBtn.active {
  background-color: var(--color-white);
  border-radius: var(--size-border-radius-btn) var(--size-border-radius-btn) 0 0;
}

.menuBtn.active::after {
  content: '';
  display: block;
  margin: auto;
  width: 14px;
  border-bottom: 5px solid var(--color-dark-pink);
  border-radius: 40%;
}

.divider {
  width: 70%;
  height: 3px;
  margin: 40px auto;
  background-color: var(--color-super-light-grey);
}

.demoTitle {
  margin-bottom: 20px;
}

.demos {
  display: flex;
  flex-direction: column;
}

.demo {
  display: flex;
  margin-bottom: 12px;
}

.demoImg_wrap {
  flex: 1 1 60%;
}

.demoImgTitle {
  flex: 1 1 40%;
  align-self: center;
  margin: 0;
  font-size: var(--font-regular);
}

.demoImg {
  width: 100%;
  height: 100%;

  border-radius: var(--size-border-radius-big);
  -webkit-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 43px -14px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 768px) {
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 24px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 11px;

    /* size */
    --size-border-radius-big: 24px;
    --size-border-radius-btn: 8px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-large);
    margin: 14px 0px;
  }

  h2 {
    font-size: var(--font-medium);
    margin: 7px 0;
  }

  h3 {
    font-size: var(--font-medium);
    margin: 7px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .container {
    padding-top: 85px;
  }

  .main {
    max-width: 688px;
  }

  .content {
    padding: 30px;
  }

  .portfolioImg_wrap {
    margin: 20px auto;
    padding: 20px;
  }

  .portfolioMenu {
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid var(--color-light-grey);
  }

  .menuBtn_container {
    transform: translateY(-51px);
  }

  .menuBtn:hover::after {
    width: 24px;
    border-bottom: 8px solid var(--color-button);
  }

  .menuBtn.active::after {
    width: 24px;
    border-bottom: 8px solid var(--color-dark-pink);
  }

  .divider {
    margin: 80px;
  }

  .demoTitle {
    margin-bottom: 30px;
  }

  .demo {
    margin-bottom: 28px;
  }

  .demoImgTitle {
    font-size: var(--font-medium);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* size */
    --size-border-radius-big: 30px;
    --size-border-radius-btn: 10px;
  }

  /* Typography */
  h1 {
    font-size: var(--font-large);
    margin: 16px 0px;
  }

  h2 {
    font-size: var(--font-medium);
    margin: 8px 0;
  }

  h3 {
    font-size: var(--font-regular);
    margin: 8px 0;
  }

  p {
    font-size: var(--font-regular);
    margin: 4px 0;
  }

  .container {
    padding-top: 110px;
  }

  .main {
    max-width: 1200px;
  }

  .content {
    padding: 40px;
  }

  .portfolio {
    margin-top: 60px;
  }

  .portfolioImg_wrap {
    padding: 20px;
  }

  .portfolioMenu {
    flex: 1 1 50%;
    width: 100%;
    border: 2px solid var(--color-light-grey);
  }

  .menuBtn_container {
    transform: translateY(-48px);
  }

  .menuBtn:hover::after {
    width: 30px;
    border-bottom: 10px solid var(--color-button);
  }

  .menuBtn.active::after {
    width: 30px;
    border-bottom: 10px solid var(--color-dark-pink);
  }

  .divider {
    margin: 120px;
  }

  .demoTitle {
    margin-bottom: 50px;
  }

  .demo {
    margin-bottom: 44px;
  }

  .demoImgTitle {
    font-size: var(--font-large);
  }
}
