.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;
}

.logo {
  width: 120px;
}

.items {
  display: flex;
}

.item {
  margin: 0 10px;
}

.itemBtn.active {
  color: var(--color-font-blue);
  border-bottom: 2px solid var(--color-font-blue);
}

.itemBtn {
  transition: all var(--animation-duration) ease-out;
}

.itemBtn:hover {
  transform: scale(1.03);
  color: var(--color-font-blue);
  border-bottom: 2px solid var(--color-font-blue);
}

.itemBtn,
.talkBtn {
  font-size: var(--font-small);
}

.talkBtn {
  width: 140px;
  height: 44px;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  background-color: var(--color-font-blue);
  border-radius: var(--size-border-radius-btn);
  transition: all var(--animation-duration) ease-out;

  -webkit-box-shadow: 0px 0px 12px 4px rgba(77, 77, 77, 0.4);
  -moz-box-shadow: 0px 0px 12px 4px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 0px 12px 4px rgba(77, 77, 77, 0.4);
}

.talkBtn:hover {
  transform: scale(1.04);
  background-color: var(--color-button-hover);
}
