.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--font-small) 0;
  /* border: 1px solid red; */
}

.contact {
  display: flex;
  align-items: center;
}

.email,
.right {
  font-size: var(--font-micro);
  color: var(--color-font-dark);
}

.github {
  font-size: var(--font-small);
  margin-left: 6px;
  color: var(--color-button);
  transition: all var(--animation-duration) ease;
}

.github:hover {
  transform: rotate(360deg) scale(1.08);
  color: var(--color-dark-pink);
}

@media screen and (min-width: 768px) {
  .github {
    margin-left: 10px;
  }

  .github:hover {
    transform: rotate(360deg) scale(1.12);
  }
}

@media screen and (min-width: 1024px) {
  .github:hover {
    transform: rotate(360deg) scale(1.16);
  }
}
